<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Muzi"
        tools:targetApi="31">
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Management -->
        <activity android:name=".management.HotelManagementActivity" />
        <activity android:name=".management.CreateHotelActivity" />
        <activity android:name=".management.ManageRoomActivity" />
        <activity android:name=".management.RoomDetailActivity" />
        <activity android:name=".management.RoomFormActivity" />
        <activity android:name=".management.StaffDetailActivity" />
        <activity android:name=".management.StaffFormActivity" />
        <activity android:name=".management.CustomerDetailActivity" />
        <activity android:name=".management.CustomerFormActivity" />
        <activity android:name=".management.SelectCustomerActivity" />
        <activity android:name=".management.BookingActivity" />
    </application>

</manifest>
